.containerSuperAdminCardOne {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-family: sans-serif;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 1); 
  position: relative; 
  top: 58%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1000; 
  position: absolute;
}


.containerSuperAdminCardOne::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 12px;
  z-index: -1; 
}


.formGroupOne {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3px;
}

.formGroup {
  width: calc(33.33% - 10px); 
  margin-bottom: 10px;
}

.formGroup:last-child {
  margin-right: 0; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #333; 
  font-size: 1.5rem; 
  transition: color 0.3s ease; 
}

.closeButton:hover {
  color: #ff0000; 
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.ErrorMessage {
  margin-top: 5px;
  overflow: hidden;
  position: fixed;
}

.ErrorMessageDiv {
  height: 16px; 
  color: red;
  font-size: 9px;
  width: 100%;
  text-align: center;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.sending {
  display: flex;
  align-items: center;
}

.sending > button {
  margin-right: 10px;
}

.loading {
  color: rgb(211, 77, 0); 
  font-weight: bolder;
  margin-right: 10px;
}

.successMessage {
  color: rgb(0, 98, 5); 
  display: flex;
  font-weight: bolder;
  align-items: center;
  padding: 1px; 
  border-radius: 10px; 
}

.successMessage::before {
  content: "\2713"; 
  font-size: 1.9em;
  font-weight: bolder;
  margin-right: 5px;
}

.errorMessage {
  color: rgb(166, 0, 0) !important; 
  display: flex;
  font-weight: bolder;
  align-items: center;
  padding: 1px; 
  border-radius: 10px; 
}

.toDisplay {
  display: flex !important ;
  justify-content: space-between !important ;
  align-items: center !important ;
}

.selectField {
  font-family: sans-serif;
  width: 48% !important;
  margin-left: 1%;
  height: 40px !important; 
  margin-top: 14px;
}